#ats-container {
  width: 100%;
}

#ats-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#ats-current-date-container {
  width: 75%;
  text-align: center;
  text-transform: capitalize;
}

#ats-week-container {
  display: grid;
  width: 100%;
  grid-auto-columns: -webkit-min-content auto;
  grid-auto-columns: min-content auto;
  grid-auto-rows: -webkit-min-content auto;
  grid-auto-rows: min-content auto;
}

#ats-times-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#ats-dates-container {
  display: flex;
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#ats-available-time-container {
  display: flex;
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.ats-nav {
  width: 12.5%;
}

.ats-nav__item {
  cursor: pointer;
}

.ats-nav__item.is-disable {
  pointer-events: none;
  opacity: .2;
}

.ats-date-heading, .ats-time-slot-container {
  width: calc(100% / 7);
}

.ats-date-heading.ats__saturday {
  color: #00f;
}

.ats-date-heading.ats__sunday, .ats-date-heading.ats__holiday {
  color: #f00;
}

.ats-time-slot-container.ats__saturday {
  background-color: rgba(0, 0, 255, 0.1);
}

.ats-time-slot-container.ats__sunday, .ats-time-slot-container.ats__holiday {
  background-color: rgba(255, 0, 0, 0.1);
}

.ats-time-slot__available {
  cursor: pointer;
}

.ats-time-slot__past {
  background-color: rgba(0, 0, 0, 0.1);
}
