#ats {
	&-container {
		width: 100%;
	}

	&-nav-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&-current-date-container {
		width: 75%;
		text-align: center;
		text-transform: capitalize;
	}

	&-week-container {
		display: grid;
		width: 100%;
		// grid-template-columns: repeat(8, 1fr);
		// grid-template-rows: 1fr 1fr;
		grid-auto-columns: min-content auto;
		grid-auto-rows: min-content auto;
	}

	&-times-container {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	&-dates-container {
		display: flex;
		width: 100%;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	&-available-time-container {
		display: flex;
		width: 100%;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
}

.ats {
	&-nav {
		width: 12.5%;

		&__item {
			cursor: pointer;
		}
	}

	&-date-heading ,
	&-time-slot-container {
		width: calc(100% / 7);
	}

	&-date-heading {
		&.ats__saturday {
			color: #00f;
		}

		&.ats__sunday ,
		&.ats__holiday {
			color: #f00;
		}
	}

	&-time-slot-container {
		&.ats__saturday {
			background-color: rgba(#00f, .1);
		}

		&.ats__sunday ,
		&.ats__holiday {
			background-color: rgba(#f00, .1);
		}
	}

	&-time-slot {
		&__available {
			cursor: pointer;
		}

		&__past {
			background-color: rgba(#000, .1);
		}
	}
}