extends _layout

block vars
  - var category = 'home'
  - var page = 'index'
  - var pageId = page
  - var pageClass = page+' '+category

block head
  link(rel='stylesheet', href='../dist/css/styles.css')

block tag
  #app

  p Selected:
    br
    span#selected-date

block script
  script(src='../dist/js/main.js')
  script(src='../dist/js/locales.js')
  script.
    target = document.getElementById('app')

    date = new Date()
    date.setDate(date.getDate() - 1)

    settings = {
      businessHour: [8,  19],
      availabileTimeSlotResource: 'json/data.json',
      startDate: date,
      holidays: 'https://holidays-jp.github.io/api/v1/date.json',
      onClickTimeSlot: function(data) {
        document.getElementById('selected-date').innerHTML = ''

        data.forEach(function (data, index) {
          document.getElementById('selected-date').innerHTML += data+'<br>';
        });
      }
    }

    AvailableTimeSlots = new AvailableTimeSlots(target, settings)

    AvailableTimeSlots.init()