extends _layout

block vars
  - var category = 'home'
  - var page = 'index'
  - var pageId = page
  - var pageClass = page+' '+category

block head
  link(rel='stylesheet', href='dist/css/styles.css')
  //- DatePicker Libraries
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css')
  style.
    body > p {
      display: flex;
    }

    #selected-date {
      margin-left: 1rem;
    }

    #nav {
      display: flex;
      justify-content: space-between;
    }

    #nav > * {
      cursor: pointer;
    }

block tag
  p Selected:
    span#selected-date

  hr

  #nav
    #prev < prev
    #next next >

  #app

block script
  script(src='dist/js/main.js')
  script(src='dist/js/locales.js')
  script(src='dist/js/sample.js')
  //- DatePicker Libraries
  script(src='https://cdn.jsdelivr.net/npm/flatpickr')
  script(src='https://cdn.jsdelivr.net/npm/pikaday/pikaday.js')