extends _layout

block vars
  - var category = 'home'
  - var page = 'index'
  - var pageId = page
  - var pageClass = page+' '+category

block head
  link(rel='stylesheet', href='dist/css/styles.css')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')

block tag
  p Selected:
    span#selected-date

  hr

  #prev < prev
  #next next >

  #app

block script
  script(src='dist/js/main.js')
  script(src='dist/js/locales.js')
  script(src='https://cdn.jsdelivr.net/npm/flatpickr')
  script(src='dist/js/sample.js')