@use 'sass:math';

html ,
body {
	height: 100%;
}

@media (min-width: 376px) and (max-width: 749px) {
	html {
		$minFontSize: .625rem;
		$minWidth: 375px;
		// $coefficient: 100 * (20px - 10px) / (750px - 375px);
		$coefficient: math.div(100 * (20px - 10px), 750px - 375px);

		// font-size: calc(#{$minFontSize} + ((1vw - #{$minWidth / 100}) * #{$coefficient}));
		font-size: calc(#{$minFontSize} + ((1vw - #{math.div($minWidth, 100)}) * #{$coefficient}));
	}
}

@media (min-width: 750px) {
	html {
		font-size: 20px;
	}
}

body {
	-webkit-text-size-adjust: 100%;
	font-feature-settings: 'palt' 1;
}
