@use 'fundation/property';

@mixin layout-tags {
	html ,
	body {
		height: 100%;
	}

	body {
		-webkit-text-size-adjust: 100%;
	}

	a {
		& ,
		&::before ,
		&::after {
			transition: background-color property.$mouseover linear, background-image property.$mouseover linear;
		}

		> * {
			transition: opacity property.$mouseover linear;
		}

		img {
			background: rgba(#fff, .1);
		}

		&:hover {
			text-decoration: underline;

			> * {
				opacity: 0;
				text-decoration: none;
			}
		}
	}
}

@mixin layout-container {
	.l-container {
		position: relative;
		min-height: 100%;

		body > & {
			height: auto;
		}
	}
}

@mixin common {
}

@mixin layout-header {
}

@mixin layout-content {
}

@mixin layout-main {
}

@mixin layout-sub {
}

@mixin layout-footer {
	.l-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
