.js-accordion {
	&__button {
		cursor: pointer;
	}

	&__contents {
		overflow: hidden;
		height: 0;
		min-height: 0;
		transition: all .4s ease-in;
		transform: translate3d(0, 0, 0);
	}

	&.is-open {
		> .js-accordion__button::after {
			transform: rotate(90deg);
		}
	}
}
